@media only screen and (min-width:375px){
    .container1{
        width: 300px;
        margin: 0 auto;
      }
      .slide img{
        height: 300px;
      }

}
@media only screen and (min-width:576px){
    .container1{
        width: 540px;
        margin: 0 auto;
      }
}
@media only screen and (min-width:768px){
    .container1{
        width: 700px;
        margin: 0 auto;
      } 

    .slide img{
      height: 500px;
    }
    .btn{
      padding: 0.85rem 9rem;
      border-radius: 0px;
      background-color: rgb(51, 51, 51);
      border: 0px;
      color: white;
    }

}
@media only screen and (min-width:992px){
    .container1{
        width: 900px;
        margin: 0 auto;
      }

}
@media only screen and (min-width:1200px){
    .container1{
        width: 1100px;
        margin: 0 auto;
      }
      .like{
          display: block;
      }
      .post, .technology{
        position: relative;
      }
}
@media only screen and (min-width:1400px){
    .container1{
        width: 1380px;
        margin: 0 auto;
      }
}