*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}




/*-------------
  reuse
  ------------*/
section{
  padding: 80px 0px 50px 0px;
}
p{
  color: #8b8b8b;
  margin-top: 20px;
}
h3, h4{
  color: rgb(51, 51, 51);
  margin: 20px 0;
}
h4{
  cursor: pointer;
  font-size: 1.37rem;
}
h4:hover, h5:hover{
  color:rgb(214, 88, 15);
}
h5{
  cursor: pointer;
  margin: 8px 0;
}
a{
  text-decoration: none;
  color:#8b8b8b ;
  font-size: 10px;
}
a:hover{
  color: #8b8b8b;
}
.img{
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 3px;
  cursor: pointer;
}
img{
  width: 100%;
  
}
.like{
  position: absolute;
  background-color:rgb(255, 255, 255);
  border-radius: 50%;
  padding:10px 20px;
  z-index: 1;
  top: 370px;
  left: 30px;
  display: none;
  text-align: center;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
}
.orang{
  color: rgb(214, 88, 15);
}
ul li{
  padding: 10px; 
  color: #8b8b8b; 
  cursor: pointer;  
  font-size: 15px;
}
.container1{
  width: 900px;
  margin: 0 auto;
}
i{
  cursor: pointer;
  font-size: 13px;
}


/*-------------
  header
  ------------*/

header{
    background-color: white;
    width: 100%;
    height: 100px;
}
.logo img{
    width: 87px;
}

.menue{
  position: relative;
  cursor: pointer;
  padding-bottom: 60px;
}

.menue:hover::after{
  content :'';
  border-bottom :2px solid rgb(214, 15, 15);
  padding: 0 8px;
  position: absolute;
  top: 30px;
  left: 0px;
}
.menue:hover{
  color: black;
}
.sub-menue{
  position: absolute;
  background-color:rgb(51, 51, 51);
  top: 80px;
  left: 0%;
  display: none;
  width: 150px;
}
.sub-menuef{
  width: 1000px;
  position: absolute;
  background-color:rgb(51, 51, 51);
  top: 65px;
  right:-400px;
  display: none;
}
.layout{
  width: 220px;
}


.menue:hover .sub-menue{
  display:inline ;
}
.menue:hover .sub-menuef{
  display: inline;
}
.subr{
  position: relative;
  
}
.subr{
  width: 100%;
}
.subr:hover .sub{
  display: inline;
}
.sub{
  position: absolute;
  right: -206px;
  top:0px;
  width: 206px;
  background-color: rgb(51, 51, 51);
  display: none;
  list-style: none;
}
.icon{
  color:#8b8b8b ;
  padding-bottom: 40px;
}
.icon i:hover{
  color:rgb(214, 88, 15) ;
  padding-bottom: 40px;
}



/*-------------
  slideshow
  ------------*/

.slideshow{
    cursor: pointer;
    margin-top: 100px;
}
.slides{
    position: relative;
}
.slide{
    display: none;

}
.slide img{ 
    filter: brightness(0.4);
}
.active{
    display: block;
}
.prev,.next{
    position: absolute;
    top: 40%;
    font-size: 40px;
    color: white;
    padding: 20px;
}
.prev{
    left: 90px;
}
.next{
    right: 90px;
}



/*-------------
  article
  ------------*/
  .article{
    background-color: rgb(243, 243, 243);
  }
  .articleTitle{
    text-align: center;
    margin-bottom: 30px;
  }

  .article img{
    border-radius: 3px 3px 0px 0px;
    transition: all .3s ease-in-out; 
  }
  .article img:hover {
      transform: scale(1.1);
      filter: brightness(0.4);
  }
  .post{
    margin-bottom: 40px;
    background-color: white;
  }
  .icon2{
    color:#302e2e ;
 
  }
  .icon2 i:hover{
    color: rgb(214, 88, 15);
  }

  .articleText{
    padding: 20px;
  }
  .line{
    position: relative;
    margin-right: 20px;
  }
  .line::after{
    content :'';
    border-bottom :2px solid rgb(214, 88, 15);
    padding: 0 5px;
    position: absolute;
    bottom: 5px;
    right: -18px;
    
  }
  .like-banafsh, .like-headset, .like-blue{
    top: 180px;
  }
  .like-mobil{
    top: 455px;
  }
  .like-sea{
    top: 480px;
  }

  .btn{
    padding: 0.5rem 6rem;
    border-radius: 0px;
    background-color: rgb(51, 51, 51);
    border: 0px;
    color: white;
  }
  .btn:hover{
    background-color:rgb(214, 88, 15) ;
    color: white;
  }



  /*-------------
  technology
  ------------*/
  .img img{
    border-radius: 3px;
    transition: all .3s ease-in-out;
    
  }
  .img img:hover{
    transform: scale(1.1);
    filter: brightness(0.4);
    display: block;
  }
  .like-tech{
    top: 500px;
    left: 60px;
  }
  .m-techPost .img{
    width:40%;
  }
  .avatar{
  width: 5%;
  border-radius: 50px;
  }



/*-------------
    banner
------------*/
 
  .banner2{
    position: relative;
  }
  .subscribe{
    position: absolute;
    z-index: 2;
    top: 200px;
    right: 120px;
  }
  .subscribe button{
    border: none;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 15px 40px;
  }
  .subscribe input{
    border: none;
    padding: 15px 60px;
    color: #8b8b8b;
  }



/*-------------
    fasion
------------*/
.fashion-post{
  position: relative;
}
.fashpost1 img{
  border-radius: 3px;
  transition: all .3s ease-in-out;
  max-height: 1000px;
}
.fashpost1 img:hover{
  transform: scale(1.1);
  filter: brightness(0.4);
}
.like-fash{
  top: 240px;
  left: -20px;
}




/*-------------
    travel
------------*/
.trapost{
  margin: 0 15px;
  position: relative;
}
.like-tra{
  top: 220px;
  left: -20px;
}


/*-------------
    gallery
------------*/
.gallery{
  background-color: rgb(243, 243, 243);
}

.gallery img{
  width: 19%;
  cursor: pointer;
}



/*-------------
    footer
------------*/
footer{
  background-color:#1c2433 ; 
  padding: 60px 90px 20px 90px;
  line-height: 30px;
}
footer p{
  color: #7f899b;
  cursor: pointer;
}
footer p:hover{
  color: #ffffff;
}
.sub-footer p {
  color: #7f899b;
}
.sub-footer li{
  color: #7f899b;
}
.sub-footer li:hover{
  color: #ffffff;
}
.sub-footer{
  padding: 38px 90px;
  background-color: #353f4c;
}
/*-------------
    story
------------*/
.story{
  background-color: white;
}
.story p{
  font-size: 15px;
  color: black;
  width: 150px;
  font-weight: bold;
}
.story .img{
  width: 5%;
  margin: 0 5px;
}
.story .img:hover{
  transform:translate(0px,-5px);
  box-shadow: 0 0 10px;
}




